.card-exchange{
  height: 300px;
  width: 320px;
  border-radius: 6px;
  box-shadow: 1px 1px 2px 1px #ccc;
  color: white;
}
.card-top{
  border-radius: 6px 6px 0px 0px;
  background-color: var(--primary-color);
  min-height: 80px;
  padding-top: 5px;
  padding-left: 10px;
  text-align: left;
  font-size: 1em;
}
.card-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "price-area price-area"
                       "text-area value-area";
  grid-row-gap: 10px;
  font-size: 1.2em;
  padding-left: 15px;
  color: rgb(44, 44, 44);  
  text-align: left;
  line-height:0.1em;
}
.price-area{
  grid-area: price-area;
}
.text-area{
  grid-area: text-area;
}
.value-area{
  grid-area: value-area;
}
.card-content h5{
  
}
.card-content span{
  font-weight: 200;
}
.negative-color{
  color: red;
}
.positive-color{
  color: green;
}