.input {
  color: var(--primary-color);
  font-size: 4em;
  font-weight: 800;
  border: 1px solid white;
  outline: none;
  padding: 2%;
  margin-top: 2%;
  border-radius: 6px;
  box-shadow: 1px 1px 2px 1px #ccc;
  text-transform: uppercase;
}
::-webkit-input-placeholder {
  color: var(--primary-color);
  font-size: 0.5em;
}
::-moz-placeholder {
  color: var(--primary-color);
  font-size: 0.5em;
}
:-ms-input-placeholder {
  color: var(--primary-color);
  font-size: 0.5em;
}
::placeholder {
  color: var(--primary-color);
  opacity: 0.9;
  font-size: 0.5em;
  text-align: start;
  justify-content: center;
}
