@import url('https://fonts.googleapis.com/css?family=Roboto:200,400,900');
@import url("https://fonts.googleapis.com/css?family=Lato:200,400,400i,700");
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One|Ubuntu:400,700');

*{ 
  box-sizing: border-box; 
  
}
body{
  --primary-color: rgb(235, 67, 1);
  margin: 0;
  color: var(--primary-color);
  background-color: white;
  font-family: 'Roboto', sans-serif;  
}
.wrapper{
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  justify-items: center;
  grid-row-gap: 50px;
}
.flex-top{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.flex-middle{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 40px;
}
.flex-bottom{
  align-self: center;
}
.filters{
  padding-top: 20px;
  justify-self: end;
}
.hide-content {
  display: none;
}
.show-content {
  display: '';
}


